@page
@model RetroUsaCars.Pages.Account
@using RetroUsaCars.models
@using RetroUsaCars.Pages
@using static RetroUsaCars.models.Photo
@using static RetroUsaCars.models.User;
@using static System.Web.Helpers.WebImage;
@using System;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{

    string id = HttpContext.Request.Cookies["id"];
    string path = Photo.GetPath(Convert.ToInt32(id));
    path = @"/Photos/" + path;
}
       


@{
    Layout = null;
}
@{
    RetroUsaCars.models.User user = new User();
    user = CheckLoginAndLogin(HttpContext.Request.Cookies["Email"], HttpContext.Request.Cookies["Pass"]);
}

<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two&display=swap" rel="stylesheet" />
    <link href="./css/Chevrolet_ZR.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
<div class="v64_0">
    <div class="v36_39"></div>
    <span class="v14_3"><a class = "aq" @Url.Page("/index") >Retro USA Cars</a></span>
    <div class="v36_41"></div>
    <span class="v42_9"></span>
    <div class="v36_42"></div>

    <span class="v23_6"><a class = "aq" href="Account.html" >Support</a></span>
    <span class="v25_0"><a class = "aq" href="FAQ.html" >FAQ</a></span>
    <span class="v23_4"><a class = "aq" href="Cars.html" >Cars</a></span>
    <div class="v42_7"></div>
    <span class="v42_8"><img src="@path" alt="@path" width="300px" /> @user.username <br> balance: @user.balance<br>
        <form  method="post" enctype="multipart/form-data">
            <fieldset>
                <legend> Upload Image </legend>
                <label for="Image">Image</label>
                <input type="file" name="Image" />
                <br/>
                <input asp-for="photo" type="submit" value="Upload"  />
            </fieldset>
        </form>
        </span>
</div>
</body>
</html>